.cloudimage-360 {
  position: relative;
  width: 100%;
  min-width: 210px;
  height: 100%;
  min-height: 116px;
  cursor: wait;
  display: flex;
  justify-content: center;

  $tier1-z-index: 10;
  $tier2-z-index: 11;
  $tier3-z-index: 12;
  $tier4-z-index: 12;
  $tier5-z-index: 13;
  $tier6-z-index: 14;

  &:hover {
    cursor: wait;
  }

  &,
  & * {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  &.loading {
    cursor: wait;
  }

  &.initialized {
    &:hover {
      cursor: pointer;
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &.fullscreen {
    position: fixed;
    z-index: $tier6-z-index;

    left: 0;
    top: 0;
  }

  .top-loader {
    position: absolute;
    width: 0;
    max-width: 100%;
    left: 0;
    top: 0;
    height: 2%;
    background-color: rgb(165, 175, 184);
    z-index: $tier5-z-index;

    &.hidden {
      display: none;
    }
  }

  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 5px;
    right: 5px;
    z-index: $tier3-z-index;

    .fullscreen-button,
    .magnifier-button {
      display: inline-flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 1%;
      width: 10%;
      min-width: 25px;
      min-height: 25px;

      &::before {
        content: "";
        padding-top: 100%;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .fullscreen-button {
      background-image: url("https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/full_screen.svg");

      &.fullscreen-mode {
        background-image: url("https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/cross.svg");
      }
    }

    .magnifier-button {
      background-image: url("https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/loupe.svg");
    }
  }

  .controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 45%;
    left: 0;
    right: 0;
    z-index: $tier3-z-index;
    margin: 0 5%;

    .left,
    .right {
      position: relative;
      width: 9%;
      padding: 0;
      min-width: 46px;
      min-height: 46px;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
      background-color: rgb(244, 244, 244);
      outline: none;
      border: none;
      border-radius: 4px;


      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      &:hover:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.4;
        cursor: default;
      }
    }

    .right {
      float: right;
      background-image: url("https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-right.svg");
    }

    .left {
      float: left;
      background-image: url("https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-left.svg");
    }
  }

  .image {
    width: 100%;
    height: 100%;
    z-index: $tier1-z-index;
  }

  .img-magnifier-glass {
    position: absolute;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 3px solid #000;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    z-index: $tier4-z-index;
    width: 250px;
    height: 250px;
    top: -75px;
    right: -85px;
    cursor: none;

    &.loading {
      cursor: wait;
    }
  }

  $circle-diameter: 100px;

  .center-loader,
  .preview-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: $tier5-z-index;

    &,
    span {
      left: calc(50% - #{$circle-diameter/2});
      top: calc(50% - #{$circle-diameter/2});
    }

    &::before {
      content: "";
      padding-top: 100%;
    }
  }

  .preview-icon {
    background-image: url('https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/360_view.svg');

    &.hidden {
      display: none;
    }
  }

  .center-loader {
    z-index: $tier6-z-index;

    &.hidden {
      display: none;
    }
  }

  .bottom-circle {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 0px;
    right: 0px;
    width: 80%;
    height: auto;
    margin: auto;
    transition: all 0.5s ease 0s;
    z-index: $tier2-z-index;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }
}