{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["array-includes"],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}