.cloudimage-360-hotspot-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cloudimage-360-hotspot {
  position: absolute;
  display: inline-block;
  background: radial-gradient(circle, #0e82fe 30%, #00d4ff);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.6);
  opacity: 0;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.cloudimage-360-hotspot.visible {
  opacity: 1;
}

@keyframes pulse {
  0% {
    scale: 1;
    box-shadow:
      0 0 0 0 rgba(0, 123, 255, 0.6),
      0 0 0 6px rgba(0, 123, 255, 0.4),
      0 0 0 12px rgba(0, 123, 255, 0.2);
  }
  50% {
    scale: 1.1;
    box-shadow:
      0 0 0 10px rgba(0, 123, 255, 0),
      0 0 0 20px rgba(0, 123, 255, 0.1),
      0 0 0 30px rgba(0, 123, 255, 0);
  }
  100% {
    scale: 1;
    box-shadow:
      0 0 0 0 rgba(0, 123, 255, 0),
      0 0 0 6px rgba(0, 123, 255, 0),
      0 0 0 12px rgba(0, 123, 255, 0);
  }
}

.cloudimage-360-popper {
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  max-width: 200px;
  z-index: 9999;
  text-align: center;
  transition:
    opacity 0.2s ease,
    translate 0.2s ease;
  opacity: 0;
  translate: 0 -10px;
}

.cloudimage-360-popper[data-show] {
  opacity: 1;
  translate: 0;
}
