.cloudimage-360 {
  position: relative;
  width: 100%;
  height: 100%;

  &.initialized {
    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &.fullscreen {
    position: absolute;

    left: 0;
    top: 0;
  }

  .menu {
    position: absolute;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 101;

    .fullscreen-button,
    .magnifier-button {
      display: inline-flex;
      margin: 0 3px;

      &:hover {
        cursor: pointer;
      }

      width: 25px;
      height: 25px;
    }

    .fullscreen-button {
      background: url(https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/full_screen.svg) 50% 50% / cover no-repeat;

      &.fullscreen-mode {
        background: url(https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/cross.svg) 50% 50% / cover no-repeat;
      }
    }

    .magnifier-button {
      background: url(https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/loupe.svg) 50% 50% / cover no-repeat;
    }
  }

  .navigation-buttons {
    position: absolute;
    top: 45%;
    left: 0;

    .next,
    .prev {
      display: block;
      width: 30px;
      height: 30px;
      background: 50% 50% / cover no-repeat;

      &:hover {
        cursor: pointer;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.4;
        cursor: default;
      }
    }

    .next {
      background-image: url(https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-right.svg);
    }

    .prev {
      background-image: url(https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-left.svg);
    }
  }

  .image {
    width: 100%;
    height: 100%;
  }



  .img-magnifier-glass {
    position: absolute;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 3px solid #000;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    z-index: 20;
    width: 250px;
    height: 250px;
    top: -75px;
    right: -85px;
    cursor: none;

    &.loading {
      cursor: wait;
    }
  }


  .preview-icon {
    position: absolute;
    background-image: url('https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/360_view.svg');
    background-color: rgba(255, 255, 255, 0.8);
    width: 20%;
    height: 50%;
    border-radius: 50%;
    top: 30%;
    left: 41%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bottom-circle {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 0px;
    right: 0px;
    width: 80%;
    height: auto;
    margin: auto;
    transition: all 0.5s ease 0s;
    z-index: 2;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }
}