.cloudimage-360 {
  position: relative;
  width: 100%;
  height: 100%;

  &.initialized {
    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &.fullscreen {
    position: absolute;

    left: 0;
    top: 0;
  }

  .menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 5%;
    top: 5px;
    right: 5px;
    z-index: 101;

    .fullscreen-button,
    .magnifier-button {
      display: inline-flex;
      flex: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 2%;

      &:hover {
        cursor: pointer;
      }

      width: auto;
      height: 100%;
    }

    .fullscreen-button {
      background-image: url("https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/full_screen.svg");

      &.fullscreen-mode {
        background-image: url("https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/cross.svg");
      }
    }

    .magnifier-button {
      background-image: url("https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/loupe.svg");
    }
  }

  .controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 4;
    height: 17%;
    margin: 0 5%;

    .left,
    .right {
      position: relative;
      width: 7%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: rgb(244, 244, 244);
      outline: none;
      border: none;
      border-radius: 4px;

      &:hover:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.4;
        cursor: default;
      }
    }

    $controlsOffset: 95%;

    .right {
      background-image: url("https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-right.svg");
    }

    .left {
      background-image: url("https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-left.svg");
    }
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .img-magnifier-glass {
    position: absolute;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 3px solid #000;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    z-index: 20;
    width: 250px;
    height: 250px;
    top: -75px;
    right: -85px;
    cursor: none;

    &.loading {
      cursor: wait;
    }
  }

  .preview-icon {
    position: absolute;
    background-image: url('https://scaleflex.ultrafast.io/https://scaleflex.airstore.io/filerobot/js-cloudimage-360-view/360_view.svg');
    background-color: rgba(255, 255, 255, 0.8);
    width: 20%;
    height: 50%;
    border-radius: 50%;
    top: 30%;
    left: 41%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bottom-circle {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 0px;
    right: 0px;
    width: 80%;
    height: auto;
    margin: auto;
    transition: all 0.5s ease 0s;
    z-index: 2;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }
}